ion-content {
  --background: rgb(102, 102, 226);
  --color: white;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}

ion-col {
  color: #fff;
  text-align: center;
}

ion-card {
  --background: rgb(9, 9, 134) ;
  --color: white;
}